.network-link {
  background-image: url(../network1.png);
  background-size: 100px auto;
  width: 100px;
  height: 100px;
  display: block;
  transition: width 1s;
}

.network-link:hover {
  background-image: url(../network2.png);
}
